@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Viga&display=swap');


/* *{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
} */

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    
}
body{
    background-color: black;
}

.header{
    /* border-bottom: white; */
    /* padding: 1.5rem 7%; */
    /* z-index: 1000; */
    position: fixed;
    top: 0;left: 0;right: 0;
    
    height: 100px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: azure;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* List Items  */
.navbar ul li {
    margin: 0 1rem;
    display: inline;
    position: relative;
    left:-500px;
}
.navbar ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.2rem;
    color: #fff;

}
.navbar ul li a:hover{
    color: rgb(194, 194, 7);
    border-bottom: .1rem solid rgb(174, 182, 72);
    
}
.logo{
    margin: 10px ;
    margin-left: 100px;
}


/* Icons  */
.navbar .icons div{
    display: inline;
    margin-left: 2rem;
    cursor: pointer;
    font-size: 1.9rem;
    position: relative;
    left:450px; 
    top:-44px;
}
.navbar .icons div:hover{
    color: rgb(194, 194, 7);
   
}

/* Buttons */
#menu-btn{
    display: none;
}

.navbar .search-div{
    position: absolute;
    top: 115%; right: 10%;
    background: rgb(13, 1, 1);
    height: 1rem;
    width: 40rem;
    display: flex;
    align-items: center;

    /* To hide search bar */
    transform: scaleY(0);
    transform-origin: top;
}

.navbar .search-div input{
    height:100%;
    width:100%; 
    font-size: 1.2rem;
    padding: 1rem;
    text-transform: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .search-div label{
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1rem;
   
}
.navbar .search-div label:hover{
    color: rgb(174, 174, 18);
}



/* CART */
.navbar .cart-container{
    position: absolute;
    /* right 0 it will show but rigth -100% will hide */
    top: 100%;right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    color: black;
    background: white;
    padding: 0 1.5rem;
}

.navbar .cart-container .cart-item{
    height: 5rem;
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* CART CROSS ICON */
.navbar .cart-container .cart-item span{
    position: absolute;
    top: 1rem;right: 1rem;
    font-size:1.2rem;
    cursor:pointer;
    columns: black;
}

.navbar .cart-container .cart-item span:hover{
    color: rgb(174, 174, 11);
}

/* CART IMAGE */
.navbar .cart-container .cart-item img{
    height: 7rem;
}

/* CART CONTENT */
.navbar .cart-container .cart-item .content h3{
    font-size: 1rem;
    color: black;
    
}
.navbar .cart-container .cart-item .content .price{
    color: rgb(131, 131, 25);
    font-weight: bold;
}

/* Checkout button */
.btn{
    
    font-size: large;
    text-decoration: none;
    background-color: rgb(189, 154, 56);
    padding: 0.3rem 2rem;
    color: white;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover{
    transition: 0.5s;
    color: rgb(23, 23, 2);
    letter-spacing: .2rem;
}


/* Responsiveness - need corrections */
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;right: -100%;
        background-color: whitesmoke;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}


/* HOME PAGE */

.home{
    min-height: 100vh;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    background:url(Pictures/home-img.jpeg) no-repeat;
    background-position: center;
    background-size: cover;

}

.home .content{
    margin-left: 100px;
    margin-bottom: 200px;
    width: 60rem;
    color: white;
}

.home .content h1{
    font-size: 6rem;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.3rem;
}

.home .content p{
    font-size: 2rem;
    color: #ccc;
    line-height: 1.2;
    font-weight: lighter;
}


/* HEADINGS*/
.heading{
    padding-top: 4rem;
    letter-spacing: 0.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 2rem;
}
.heading span{
    
    color:rgb(169, 140, 53);
    text-transform: uppercase;
}



/* ABOUT US */
.about{
    background-color: black;
    min-height: 100vh;
    align-items: center;
    color: white;

}

.about .row{
    
    padding: 0 100px;
    display: flex;
    align-items: center;
    background:black;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    margin-top: 0;
    flex:1 1 45rem;
    padding:4.9rem;
    background: rgb(63, 58, 58);
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}




/* MENU  PAGE */

.menu .box-container{
    margin: 0 50px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    
    padding:5rem;
    text-align: center;
    
    border:0.01rem solid gray;    
}

.menu .box-container .box img{
    height: 11rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    
    background:#fff;
}

.menu .box-container .box:hover>*{
    
    color:black;
}





/* PRODUCT */
.products .box-container{
    margin: 0 50px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    
    text-align: center;
    border:0.2rem solid gray;
    padding: 2rem;
}

.products .box-container .box .icons a{
    text-decoration: none;
    background: black;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:0.2rem solid gray;
    color:rgb(249, 249, 240);
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    color:rgb(148, 136, 22);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:rgb(252, 251, 246);
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: rgb(148, 136, 22);
}

.products .box-container .box .content .price{
    color:rgb(239, 238, 232);
    font-size: 2.5rem;
}


.products .box-container .box .content .price span{
    color: rgb(148, 136, 22);
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}




/* REVIEW */
.review .box-container{
    margin: 0 50px; 
display: grid;
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
gap:1.5rem;
}
.review .box-container .box{
    border:0.2rem solid gray;
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box img{
    height: 30px;
}
.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:rgb(152, 152, 32);
}


/* CONTACT */
.contact .row{
    
    display: flex;
    background:black;
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:black;
    border:0.2rem solid gray;
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}



/* BLOG */
.blogs .box-container{
    margin: 0 50px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:0.2rem solid gray;   
    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding:2rem;
}
.blogs .box-container .box .content a{
    text-decoration: none;
} 
.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:rgb(133, 133, 21);
}

.blogs .box-container .box .content span{
    color:rgb(138, 119, 11);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:rgb(170, 166, 166);
    padding:1rem 0;
}



/* FOOTER */
.footer{
    padding: 2rem;
    background:black;
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:1px solid gray;
    margin:.3rem;
    border-radius: 50%;
    text-decoration: none;
}

.footer .share a:hover{
    background-color: rgb(135, 135, 12);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:0.1rem solid gray;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 8%;

}

.footer .links a:hover{
    background:rgb(180, 180, 66);
    
}



.footer .credit{
    font-size: 2rem;
    color:rgb(185, 175, 175);
    font-weight: lighter;
    padding:1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer .credit span{
    color:rgb(167, 167, 29);
}











